

@keyframes ease-in {
  from {
    transform: translateY(-15%);
    opacity: 0;
  }
  to {
    transform: translateY(0%);
    opacity: 1;
  }
}
@keyframes ease-out {
  from {
    transform: translateY(0%);
    opacity: 1;
    color: #000;
  }
  to {
    transform: translateY(-15%);
    opacity: 0;
    color: #fff;
  }
}


.notes-in {
  position: absolute;
  background-color: #fff;
  animation-name: ease-in;
  animation-duration: 600ms;
}
.notes-out {
  position: absolute;
  opacity: 0;
  background-color: #fff;
  animation-name: ease-out;
  animation-duration: 600ms;
}