.new-bill-modal {
  margin: 0px;
  padding: 0px;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100vw;
  z-index: 9999999;
  background-color: rgba(0,0,0,0.5);
  overflow: hidden;
}


.meter-reading-section div > div {
  min-height: 2.5rem;
}

.other-charge-class div {
  min-height: 2rem;
}